{% from 'macros/helpers.twig' import sprite %}

{% block html_head_container %}
{% include 'html-header.twig' %}
{% block head %}{% endblock %}
</head>
{% endblock %}

	<body class="{{ body_class }}" data-template="base.twig">
		{% include 'partials/_header-html.twig' %}
		<main class="container">
			{% block before_content %}{% endblock %}
      {% block content %}
				Sorry, no content
      {% endblock %}
      {% block after_content %}{% endblock %}
		</main>
		{# <div class="offcanvas offcanvas-right">
			<main id="main" role="main">
				<div class="container">
					<div class="row">
						<div id="content" class="content {% if sidebar %} col-sm-9 {% else %} col-sm-12 {% endif %} {{ sidebar_class }}">
							{% block content %}
								Sorry, no content
							{% endblock %}
						</div>

						{% if sidebar %}
							<aside id="aside" class="aside col-sm-3">
								{{ sidebar }}
							</aside>
						{% endif %}
					</div>
				</div>

				{% include "blocks.twig" %}

				{% block footer %}
					<footer id="footer">
						{% include 'footer.twig' %}
					</footer>
				{% endblock %}
			</main>
		</div> <!-- /.offcanvas --> #}

		{{ function('wp_footer') }}

	</body>
</html>
